.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 10rem;
}

.nav-link {
  color: var(--main-text);
  text-decoration: none;
}
